DATABASE_URL="postgresql://postgres:postgres@localhost:5432/iot-merchant?schema=public"
AUTH_SECRET=""
AUTH_ORIGIN="http://localhost:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
LINE_LOGIN_CLIENT_ID=""
LINE_LOGIN_CLIENT_SECRET=""
AUTH_MAGIC_LINK_FROM="Washpoint <no-reply@example.com>"
QR_PAYMENT_MODE="maemanee_template"
PROMPTPAY_TARGET="0812345678"
MAEMANEE_BILLER_ID="010753600010286"
MAEMANEE_REFERENCE_PREFIX="ORD"
MAEMANEE_TEMPLATE_PAYLOAD="00020101021230690016A000000677010112011501075360001028602150140000039066090307ABCDEFG5802TH540510.00530376462200716000000000059135263046988"
SLIP2GO_BASE_URL="https://connect.slip2go.com/api"
SLIP2GO_SECRET_KEY=""
REDIS_URL="redis://127.0.0.1:6379"
PAYMENT_EXPIRY_MINUTES="3"
ADMIN_API_KEY=""
RESEND_API_KEY=""
LINE_CHANNEL_ACCESS_TOKEN=""
LINE_CHANNEL_SECRET=""
LINE_LIFF_ID=""
NUXT_PUBLIC_APP_URL="http://localhost:3000"
